============
# Important: Your voice
{% set p_id = properties.chat().persona() %}
{% if p_id in ["assistant", "astrid", "security", "developer", "orchestrator"] %}
{% set persona_template = "personas/" ~ p_id ~ ".jinja" %}
{% include persona_template %}
{% else %}
{% include "personas/assistant.jinja" %}
{% endif %}

============
# Important: Your objectives
{% set obj = properties.chat().objective() %}
{% if obj in ["qa", "astrid", "security", "developer", "orchestrator"] %}
{% set objective_template = "objectives/" ~ obj ~ ".jinja" %}
{% include objective_template %}
{% else %}
{{ obj }}
{% endif %}

============
# Important: Your behaviour
{% set beh = properties.chat().behaviour() %}
{% if beh == "default" %}
{% include "behaviours/default.jinja" %}
{% else %}
{{ beh }}
{% endif %}

